<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="container body-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="Metrics/Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">             
                    <a class="nav-item nav-link active" href="Metrics/MetricsData">Metrics</a>
                    <a class="nav-item nav-link active" href="Metrics/LeaveDetails">Leave Details</a>
                    <a class="nav-item nav-link active" href="Metrics/CATWhours">CATW hours</a>
                    <a class="nav-item nav-link active" href="Home/Login">Log Off</a>
                </div>
            </div>
        </nav>
        @RenderBody()
        <hr />
        <footer>
            <p>Metrics Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
